.semesterModifications {

}

.moduleModifications {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.lessonTypeModifications {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;

    & > div {
        flex-grow: 1;
    }
}

.lessonTiming {
    display: flex;
    justify-content: space-between;
}